.card-container {
    display: flex;
    margin-left: 30px;
    flex-direction: row;
    padding: 10px;
    margin-top: 50px;
}


.card-img {
    width: 126px;
    height: 168px;
    left: 39px;
    border-radius: 5px;

}



.card-location {
    padding: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15.24px;
    line-height: 12px;
    letter-spacing: 0.17em;

    color: #2B283A;
}

.card-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #2B283A;

    padding: 10px 35px;
}

.card-map-url {
    padding: 5px;
    text-decoration: none;
}

.card-date {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 13.24px;
    line-height: 12px;
    padding: 10px 30px;
    color: #2B283A;
}

.card-description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20.24px;
    line-height: 150%;
    /* or 15px */

    padding: 10px 30px;
    color: #2B283A;

}