.container {
    display: flex;
    width: 70%;
    border-radius: 15px;

    flex-direction: column;
    justify-content: space-between;
    margin: 30px;
    margin-left: 15%;
    background-color: rgba(0, 0, 0, 0.059);
}