* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.nav-bar {
    width: 100%;
    height: 55px;
    background: #F55A5A;
    padding: 30px;
    position: relative;
    border-radius: 15px 15px 0 0;

}

.nav-bar__text {
    position: absolute;
    font-family: 'Inter';
    font-style: 20px;
    font-weight: 500;
    font-size: 30.4608px;
    line-height: 18px;
    letter-spacing: -0.075em;
    color: #FFFF;
    margin-left: 50%;
    transform: translateX(-70%);
    top: 24px;
}